<div class="form">
  <button type="button" mat-raised-button (click)="keyInput.click()">
    Choose Key
  </button>
  <button type="button" mat-raised-button (click)="datasetInput.click()">
    Choose Dataset
  </button>
  <button type="button" mat-raised-button (click)="imageInput.click()">
    Choose Image
  </button>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Patient ID</mat-label>
      <input type="text" matInput name="pid" formControlName="pid" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input type="text" matInput name="fullName" formControlName="fullName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <input type="text" matInput name="gender" formControlName="gender" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DOB</mat-label>
      <input type="text" matInput name="dob" formControlName="dob" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input type="text" matInput name="address" formControlName="address" />
    </mat-form-field>
    <button mat-flat-button color="accent" value="submit">Submit</button>
  </form>
  <!-- <button type="button" mat-raised-button color="primary" (click)="onSubmit2()">
    Submit
  </button> -->
</div>

<input
  #keyInput
  hidden
  (change)="onFileChange($event, 'key')"
  [disabled]="false"
  [multiple]="multiple[0]"
  [accept]="accept[0]"
  type="file"
  name="imagesInput"
  id="imagesInput"
/>

<input
  #datasetInput
  hidden
  (change)="onFileChange($event, 'csv')"
  [disabled]="false"
  [multiple]="multiple[1]"
  [accept]="accept[1]"
  type="file"
  name="datsetInput"
  id="datsetInput"
/>

<input
  #imageInput
  hidden
  (change)="onFileChange($event, 'images')"
  [disabled]="false"
  [multiple]="multiple[2]"
  [accept]="accept[2]"
  type="file"
  name="imagesInput"
  id="imagesInput"
/>
