table {
  width: 100%;
}

div {
  padding: 1%;
}

.col-id {
  max-width: 50px;
}

.col-fullName {
  max-width: 100px;
}

.col-gender {
  max-width: 50px;
}

.col-dob {
  max-width: 200px;
}

.col-hash {
  min-width: 1125px;
}

.col-timestamp {
  max-width: 400 px;
}

.col-action {
  max-width: 200px;
}

.col-prediction {
  max-width: 200px;
}
