<div>
  <h1>Blockchain Electronic Patient Records</h1>
  <br />
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell class="col-id" *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell class="col-id" *matCellDef="let element">
        {{ element.id }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <mat-header-cell class="col-fullName" *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell class="col-fullName" *matCellDef="let element">
        {{ element.fullName }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell class="col-gender" *matHeaderCellDef>
        Gender
      </mat-header-cell>
      <mat-cell class="col-gender" *matCellDef="let element">
        {{ element.gender }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dob">
      <mat-header-cell class="col-dob" *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell class="col-dob" *matCellDef="let element">
        {{ element.dob }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hash">
      <mat-header-cell class="col-hash" *matHeaderCellDef>
        Hash
      </mat-header-cell>
      <mat-cell class="col-hash" *matCellDef="let element">
        {{ element.hash }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <mat-header-cell class="col-timestamp" *matHeaderCellDef>
        timestamp
      </mat-header-cell>
      <mat-cell class="col-timestamp" *matCellDef="let element">
        {{ element.timestamp }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell class="col-action" *matHeaderCellDef>
        Action
      </mat-header-cell>
      <mat-cell class="col-action" *matCellDef="let element">
        <button
          mat-raised-button
          color="primary"
          (click)="predictResult(element)"
        >
          Predict
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prediction">
      <mat-header-cell class="col-prediction" *matHeaderCellDef>
        Result
      </mat-header-cell>
      <mat-cell class="col-prediction" *matCellDef="let element">
        {{ element.result }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </table>
</div>
