
<div>
    <h1>Blockchain Electronic Patient Records</h1>
    <br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.gender}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="dob">
        <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dob}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hash">
            <mat-header-cell *matHeaderCellDef> Hash </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hash}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="imageName">
            <mat-header-cell *matHeaderCellDef> imageName </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button mat-raised-button>View Image</button> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timeStamp">
            <mat-header-cell *matHeaderCellDef> timeStamp </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.timeStamp}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </table>
</div>

